body{
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

ul {
	list-style-type: none;
}

input{
	border-radius: 4px;
	border: 1px solid #DDDDDD;
	box-shadow: 1px 2px 4px 0 #e6ebf1;
	padding: 5px 0 5px 0;
}

button {
	border: none;
	border-radius: 4px;
	background-color: #00CCCC;
	-webkit-transition: background-color 0.25s;
	transition: background-color 0.25s;
	padding: 10px;
	color: #FFFFFF;
	font-weight: 900;
	cursor: pointer;
	margin-top: 15px;
	width: 319px;
}

button:hover{
	background-color: #009090;
}

h3{
	margin-left: 5px;
	padding: 5px;
}

h1{
	padding-bottom: 10px;
	border-bottom: 1px solid #DDDDDD;
}

a{
	-webkit-transition: color 0.25s;	
	transition: color 0.25s;	
}

a:link {
	color: #FFFFFF;
	text-decoration: none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #FFFFFF90;
	text-decoration: none;
}

a:active {
  text-decoration: none;
}


.container{
	display: flex;
	flex-direction: column;
}

.row{
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.header{
	margin: 0;
	color: #FFFFFF;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	background-color: #0080A0;
	align-items: center;
}

.header-title{
	font-family: "Courier New", Courier, monospace;
	font-size: 2rem;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	padding: 0 40px 0 40px;	
}

.header-title > a:hover{
	color: #FFFFFF;
}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.navigation > li{
	padding: 5px;
}

.navigation > li > span{
	color: #DDDDDD;
}

.input-label{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 5px;
}

.input-label > input {
	margin-left: 5px;
	margin-right: 10px;
}

.input-label > #num_tickets{
	width: 60px;
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.warning{
	font-weight: 400;
	color: #505000;
	padding: 5px 10px 5px 10px;
	width: auto;
	margin-left: 5px;
	margin-right: auto;
	border-radius: 4px;
	background-color: #FFEA00;
}

.form-row{
	width: 400px;
}

.register-form-label{
	justify-content: space-between;
}

#register-form{
	display: flex;
	flex-direction: column;
}