<!DOCTYPE html>
<html>
<head>
	<title>CrypTicket Buy</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	
</head>

<body>
<div class="container">
	<div class="header">
		<ul class='navigation'>
		{% if g.user %}
			<li><span>{{ g.user["username"] }} </span></li>
			<li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
		{% endif %}
			<li><a href="{{ url_for('tickets.buy') }}">Buy</a></li>
			<li><a href="{{ url_for('tickets.transfer') }}">Transfer</a></li>
		</ul>
		<div class="header-title"><a href="{{ url_for('index') }}">CrypTicket</a></div>
	</div>
	

	<h1 class="row">Buy</h1>
	<h3 class="row">Available Tickets: {{ available }}</h3>

	<div class="row">
		<form method='post' id="payment-form">
			<div class="input-label">
				<label for="num_tickets">Tickets: </label>
				<input type="number" name="num_tickets" id="num_tickets" min="1" value="1" onchange="updatePrice()" required>
				<label> x $1.00 = $<span id="price">1</span>.00</label>
			</div>
			<div class="form-row" >

				<div id="card-element">
				<!-- A Stripe Element will be inserted here. -->
				</div>

				<!-- Used to display Element errors. -->
				<div id="card-errors" role="alert"></div>
			</div>
			
			<br>
			<button type="submit" >Purchase</button>

		</form>
	</div>
			
		
		<span>{{ error }}</span>
	</div>
</div>
	
	<script src="https://js.stripe.com/v3/"></script>
	<script src="{{url_for('static', filename='stripe_init.js') }}"></script>
	<script>
		function updatePrice(){
			document.getElementById("price").innerHTML = document.getElementById("num_tickets").value;
		}
	</script>
</body>

</html>