<!DOCTYPE html>
<html>
<head>
	<title>CrypTicket</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	
</head>

<body>
<div class="container">
	<div class="header">
		<ul class='navigation'>
		{% if g.user %}
			<li><span>{{ g.user["username"] }}</span></li>
			<li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
		{% endif %}
			<li><a href="{{ url_for('tickets.buy') }}">Buy</a></li>
			<li><a href="{{ url_for('tickets.transfer') }}">Transfer</a></li>
		</ul>
		<div class="header-title"><a href="{{ url_for('index') }}">CrypTicket</a></div>
	</div>
	
	<h1 class="row">Home</h1>
	<h3 class="row">Your tickets: {{ tickets }}</h3>
	<div class="row">
		<a href="{{ url_for('tickets.redeem') }}"><button>Redeem</button></a>
	</div>
	
	
	<span>{{ message }}</span>
</div>
</body>

</html>