<!DOCTYPE html>
<html>
<head>
	<title>CrypTicket Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
	<div class="header">
		<ul class='navigation'>
		{% if g.user %}
			<li><span>{{ g.user["username"] }} </span></li>
			<li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
		{% endif %}
			<li><a href="{{ url_for('users.register') }}">Register</a></li>
			<li><a href="{{ url_for('tickets.buy') }}">Buy</a></li>
			<li><a href="{{ url_for('tickets.transfer') }}">Transfer</a></li>
		</ul>
		<div class="header-title"><a href="{{ url_for('index') }}">CrypTicket</a></div>
	</div>

	<h1 class="row">Login</h1>

	<div class="row">
		<form method="post">
			<div class="input-label">
				<label for="username">Username: </label>
				<input name="username" id="username" required>
				<label for="username">Password: </label>
				<input type="password" name="password" id="password" required>
			</div>
			<button type="submit">Login</button>
		</form>
		<span>{{ error }}</span>
	</div>
</div>
</body>

</html>