<!DOCTYPE html>
<html>
<head>
	<title>CrypTicket Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
	<div class="header">
		<ul class='navigation'>
		{% if g.user %}
			<li><span>{{ g.user["username"] }}</span></li>
			<li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
		{% else %}
			<li><a href="{{ url_for('users.login') }}">Log In</a></li>
		{% endif %}
			<li><a href="{{ url_for('tickets.buy') }}">Buy</a></li>
			<li><a href="{{ url_for('tickets.transfer') }}">Transfer</a></li>
		</ul>
		<div class="header-title"><a href="{{ url_for('index') }}">CrypTicket</a></div>
	</div>


	<h1 class="row">Register</h1>

	<div class="row">

		<form method='post' id="register-form">
			<div class="input-label register-form-label">
				<label for="username">Username:</label>
				<input name="username" id="username" required>
			</div>
			<div class="input-label register-form-label">
				<label for="password">Password:</label>
				<input type="password" name="password" id="password" required>
			</div>
			<div class="input-label register-form-label">
				<label for="password">Confirm Password:</label>
				<input type="password" name="password_check" id="password_check" onchange="checkPassword()" onkeypress="checkPassword()" required>
			</div>
			<button type="submit">Register</button>
		</form>
	</div>
	<span id="error_message">{{ error }}</span>
</div>
<script>
function checkPassword(){
	if (document.getElementById("password").value != document.getElementById("password_check").value){
		document.getElementById("error_message").innerHTML = "Passwords do not match!";
	}else{
		document.getElementById("error_message").innerHTML = "";
	}
}
</script>

</body>
</html>