<!DOCTYPE html>
<html>
<head>
	<title>CrypTicket Transfer</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	
</head>

<body>
<div class="container">
	<div class="header">
		<ul class='navigation'>
		{% if g.user %}
			<li><span>{{ g.user["username"] }} </span></li>
			<li><a href="{{ url_for('users.logout') }}">Log Out</a></li>
		{% endif %}
			<li><a href="{{ url_for('tickets.buy') }}">Buy</a></li>
			<li><a href="{{ url_for('tickets.transfer') }}">Transfer</a></li>
		</ul>
		<div class="header-title"><a href="{{ url_for('index') }}">CrypTicket</a></div>
	</div>
	
	<h1 class="row">Transfer</h1>
	<h3 class="row">Your tickets: {{ tickets }}</h3>
	<div class="warning">There is a $5.00 fee for ticket transfers of any size</div>


	<div class="row">
		<form method='post' id="payment-form">
			<div class="input-label">
				<label for="username">Recipient Username: </label>
				<input name="username" id="username" required>
				
				<label for="num_tickets">Tickets: </label>
				<input type="number" name="num_tickets" id="num_tickets" min="1" value="1" required>
			</div>
			<div class="form-row">
				<div id="card-element">
				<!-- A Stripe Element will be inserted here. -->
				</div>

				<!-- Used to display Element errors. -->
				<div id="card-errors" role="alert"></div>
			</div>

			<br>
			<button type="submit">Transfer</button>

		</form>
	</div>
	
	<span>{{ error }}</span>
</div>

	<script src="https://js.stripe.com/v3/"></script>
	<script src="{{url_for('static', filename='stripe_init.js') }}"></script>
</body>

</html>